<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ping Pong Scoring</title>
    <link href="public/styles/bootstrap.css" rel="stylesheet"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    </style>
</head>
<body class="container-fluid" ng-controller="gameController as vm" ng-cloak="">
<div class="page-header">
    <h1>Ping Pong Scoring</h1>
</div>
<ng-switch on="vm.mode">
    <div class="row" ng-switch-when="waiting">
        <div class="col-md-10 col-md-offset-1 well">
            <h3>There is currently no game in progress</h3>
            <h5 ng-show="vm.lastGame">{{ vm.lastGame }}</h5>
        </div>
    </div>
    <div class="row" ng-switch-when="game">
        <div class="col-md-4 col-md-offset-1 well">
            Player One Score: {{ vm.playerOneScore }}
        </div>
        <div class="col-md-4 col-md-offset-1 well">
            Player Two Score: {{ vm.playerTwoScore }}
        </div>
    </div>
</ng-switch>

<script src="public/js/vendor/socket.io.js"></script>
<script src="public/js/vendor/angular.min.js"></script>
<script src="public/js/app.js"></script>
</body>
</html>